<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select id="registerType" placeholder="Select One">
        <ion-select-option value="f">Child Support</ion-select-option>
        <ion-select-option value="m">Pantioner</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Identification Number :</ion-label>
      <ion-input id="registerId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cell Number :</ion-label>
      <ion-input id="registerCellnumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email </ion-label>
      <ion-input id="registerEmail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Full names</ion-label>
      <ion-input id="registerInitials"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input id="registerSurname"></ion-input>
    </ion-item>


    <!-- <div><ion-label color="info">Cell Number </ion-label>
      <input type="text">
    </div>

    <div><label for="name">Email </label>
      <input type="text">
    </div>

    <div><label for="name">Issue Type </label>
      <input type="text">
    </div>

    <div><label for="name">Identification Number </label>
      <input type="text">
    </div>

    <div><label for="name">Full Names</label>
      <input type="text">
    </div>

    <div><label for="name">LastName </label>
      <input type="text">
    </div> -->

    <div>
      <ion-button color="success">Success</ion-button>
    </div>

  </ion-card>

  <ion-card>


  </ion-card>
</ion-content>