<ion-header>
  <ion-toolbar>
    <ion-title>Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-label>Check your application status here:</ion-label>
    <ion-item>
      <ion-label position="floating">Identification Number </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Initials</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button color="success">Submit</ion-button>
  </ion-card>
  <ion-card>
    <ion-label>your status for the following refNumber is approaved</ion-label>
  </ion-card>
</ion-content>
